*, ::after, ::before {
    box-sizing: border-box;
}

.fbTimelineImg >img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
  }
  
#imageDiv >img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: -90px;
    border: 3px solid #fff;
}

.fbName {
    bottom: 5px;
    left: 175px;
    position: absolute;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.profile-thumb {
    float: left;
    position: relative;
}

.row1 {
    margin-right: -15px;
    margin-left: -15px;
}