#panelBody {
    border: thin solid grey;
    border-radius:12px;
    outline:20 px solid #CCC;
    margin-bottom:10px;
}

.cover-photo {
    position: relative;
}
.panel-body {
    padding: 15px;
}

.fbUserThumb {
    float: left;
    width: 70px;
    margin-right: 15px;
}
.fbUserThumb img {
    float: left;
    width: 70px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.fbUserDetails  h3{
    margin: 15px 0 0;
    font-size: 18px;
    font-weight: 300;
}
.fbUserDetails p {
    color: #c3c3c3;
    margin: 0 0 10px;
}

#imageInPanel {
    height: 400px;
    width: 400px;
    margin-right: 1em;
}

.circular-progress {
    height: 50px;
}